.discover-background {
    height: 1000px;
    width: 100%;
    background-image: url("https://media.timeout.com/images/103444978/image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.discover-message {
    margin-top: 100px;
}